@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Helvetica', sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
}

.logo a {
  color: #000;
}

.logo h1 {
  font-size: 11px;
}

.logo p {
  font-size: 10px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav li {
  margin-right: 12px;
}

.nav li a {
  font-size: 14px;
}

.nav li:last-child a {
  display: block;
  background: #3cb46e;
  color: #fff;
  padding: 5px 6px;
  border-radius: 5px;
  transition: filter 0.5s;
}

.nav li:last-child a:hover {
  filter: brightness(85%);
}

.nav-search-form {
  margin-left: 10px;
  background-color: #E8E8E8;
  border-radius: 24px;

}

.nav-search-form input {
  background-color: #E8E8E8;
  height: 40px;
  font-size: 14px;
  position: relative;
  width: 540px;

}
.nav-search-form input:focus {
  outline-width: 0;
}
.nav-search-form button {
  color: inherit;
  cursor: pointer;
  margin: 0 20px 0 20px;
}

.barBtn{
  font-size: 18px;
}
.subBtn{
  border: 1px solid lightgray;
  border-radius: 4px;
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  padding: 0 10px 0 10px;
  box-shadow: 0 1px 1px #0000000a;
}

div.slash{
  height: 32px;
  width: 1px;
  background-color: lightgrey;
}

div.space{
  width: 12px;
}

/* Hero */
.hero {
  height: 600px;
  background: url('https://images.unsplash.com/photo-1512389098783-66b81f86e199?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1514&q=80');
  background-size: 100% 770px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.hero-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}

.hero-container {
  max-width: 60%;
  margin: auto;
}

.hero-content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h1 {
  font-size: 30px;
  color: #fff;
  z-index: 2;
}

.hero-content p {
  color: #fff;
  z-index: 2;
  margin: 10px 0;
  line-height: 1.5;
}

.hero-search-form {
  z-index: 2;
  margin: 10px 6px 0 0;
}

.hero-search-form input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  color: #000;
  font-size: 14px;
}

.trending-search-tags {
  z-index: 2;
}

.trending-search-tags a {
  color: white;
  transition: 0.5s color;
}

.trending-search-tags a:hover {
  color: #fff;
}

.images {
  margin: 20px 30px;
}

/* Theme */

.pages {
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 12px 0 12px;
  color: gray;
}

.active {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 12px 0 12px;
  color: black;
}

.theme {
  height: 600px;
  background: url('https://images.unsplash.com/photo-1668150778004-5c90be1a9243?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-size: 100% 770px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.theme-container {
  max-width: 40%;
  margin-left: 40px;
}

.theme-content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.theme-content h1 {
  font-size: 30px;
  color: #fff;
  z-index: 2;
}

.theme-content p {
  color: #fff;
  z-index: 2;
  margin: 10px 0;
  line-height: 1.5;
}

.theme button {
  color: black;
  background-color: white;
  font-size: 15px;
  width: 181px;
  height: 44px;
  line-height: 2px;
  padding: 0 16px;
}

.awards {
  height: 179.88px;
  width: 1296px;
  background: url('https://unsplash-assets.imgix.net/marketing/awards/awards-logo-small.png');
  background-color: #111;
  background-size: 25%;
  background-position: 50%;
  background-repeat: no-repeat;
  text-align: center;
  margin: 40px 25px 40px 25px;
  padding: 40px 12px 40px 12px;
}

.awardsp1 {
color: white;
font-size: 28px;
font-family: Helvetica ;
}

.awardsp2 {
  color: white;
  font-size: 18px;
  opacity: 0.8;
  }

.awards span{
color: white;
text-decoration: underline;
font-size: 18px;
}