.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Global */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Helvetica', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #999;
  text-decoration: none;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
}

.logo a {
  color: #000;
}

.logo h1 {
  font-size: 1.1rem;
}

.logo p {
  font-size: 1rem;
}

.nav {
  display: flex;
  align-items: center;
}

.nav li {
  margin-right: 1.2rem;
}

.nav li a {
  font-size: 14px;
}

.nav li:last-child a {
  display: block;
  background: #3cb46e;
  color: #fff;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  transition: filter 0.5s;
}

.nav li:last-child a:hover {
  filter: brightness(85%);
}

.nav-search-form {
  margin-left: 1rem;
  background-color: #E8E8E8;
  border-radius: 24px;

}

.nav-search-form input {
  background-color: #E8E8E8;
  height: 40px;
  font-size: 0.9rem;
  position: relative;
  width: 540px;

}
.nav-search-form input:focus {
  outline-width: 0;
}
.nav-search-form button {
  color: inherit;
  cursor: pointer;
  margin: 0 20px 0 20px;
}

.pages {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 12px 0 12px;
}

.themes{
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 16px 0 16px;
}

.barBtn{
  font-size: 18px;
}
.subBtn{
  border: 1px solid lightgray;
  border-radius: 4px;
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  padding: 0 10px 0 10px;
  box-shadow: 0 1px 1px #0000000a;
}

div.slash{
  height: 32px;
  width: 1px;
  background-color: lightgrey;
}

div.space{
  width: 12px;
}

/* Hero */
.hero {
  height: 600px;
  background: url('https://images.unsplash.com/photo-1512389098783-66b81f86e199?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1514&q=80');
  background-size: 100% 770px;
  width: 100%;
  position: relative;
}

.hero-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}

.hero-container {
  max-width: 60%;
  margin: auto;
}

.hero-content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h1 {
  font-size: 3rem;
  color: #fff;
  z-index: 2;
}

.hero-content p {
  color: #fff;
  z-index: 2;
  margin: 1rem 0;
  line-height: 1.5;
}

.hero-search-form {
  z-index: 2;
  margin: 1rem 0.6rem 0 0;
}

.hero-search-form input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 5px;
  border: none;
  color: #000;
  font-size: 0.9rem;
}

.trending-search-tags {
  z-index: 2;
  ;
}

.trending-search-tags a {
  color: white;
  transition: 0.5s color;
}

.trending-search-tags a:hover {
  color: #fff;
}

.images {
  margin: 2rem 3rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Theme */
.themes{
  display: flex;
  padding-bottom: 10px;
}
.editorial {
  display: flex;
  align-items: center;
  padding: 0 10px 10px 0;
}
.theme {
  height: 600px;
  background: url('https://images.unsplash.com/photo-1668150778004-5c90be1a9243?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-size: 100% 770px;
  width: 100%;
  position: relative;
}

.theme-container {
  max-width: 40%;
  margin-left: 40px;
}

.theme-content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.theme-content h1 {
  font-size: 3rem;
  color: #fff;
  z-index: 2;
}

.theme-content p {
  color: #fff;
  z-index: 2;
  margin: 1rem 0;
  line-height: 1.5;
}

.theme button {
  color: black;
  background-color: white;
  font-size: 15px;
  width: 181px;
  height: 44px;
  line-height: 2px;
  padding: 0 16px;

}

